.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0px;
  padding: 0px;
}

.logo-grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50vw;
  position: absolute;
  left: 0;
  top: 0;
}

.logo-details {
  font-size: 2.5vw;
}

.orca {
  height: 50vw;
  width: 100%;
}

.orca-filter {
  height: 50vw;
  background: #c0cbd1;
}

.orca-filter img {
  height: 50vw;
  width: 100%;
  mix-blend-mode: screen;
  -webkit-filter: grayscale(100%) contrast(200%);
  filter: grayscale(100%) contrast(200%);
}

.orca svg {
  width: 30vw;
}
