@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0px;
  padding: 0px;
}

.logo-grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.logo-grid svg {
  width: 240px;
}

.logo-details {
  font-size: 1.1rem;
  font-family: "Lato", sans-serif;
}
